<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmr.projectcenter.dao.user_project_relation.UserProjectRelationMapper">
  <resultMap id="BaseResultMap" type="com.jmr.projectcenter.domain.entity.user_project_relation.UserProjectRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pk_id" jdbcType="VARCHAR" property="pkId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>