<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmr.projectcenter.dao.task.TaskMapper">
  <resultMap id="BaseResultMap" type="com.jmr.projectcenter.domain.entity.task.Task">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pk_Id" jdbcType="VARCHAR" property="pkId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
    <result column="start_time" jdbcType="DATE" property="startTime" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="executor" jdbcType="VARCHAR" property="executor" />
    <result column="story_points" jdbcType="INTEGER" property="storyPoints" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="sprint" jdbcType="VARCHAR" property="sprint" />
    <result column="task_class" jdbcType="VARCHAR" property="taskClass" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
  </resultMap>

  <resultMap id="AnalyseTaskByExecutorMap" type="com.jmr.projectcenter.domain.dto.task.AnalyseTaskByExecutorDTO">
    <result column="executor" jdbcType="VARCHAR" property="executor" />
    <result column="task_num" jdbcType="INTEGER" property="taskNum" />
  </resultMap>

  <select id="analyseTaskByExecutor" resultMap="AnalyseTaskByExecutorMap" parameterType="java.lang.String">
    select executor, count(*) as task_num
    from task
    where project_id=#{projectId}
    <if test="stage!=null">
      and stage=#{stage}
    </if>
    group by executor
  </select>
  
  <select id="countFinishedTaskByMember" resultType="java.lang.Integer">
    select
       count(if(stage = '已解决' || stage = '已拒绝' || stage = '关闭' || stage = '已完成', true, null))
    from task
    where project_id=#{projectId}
    and executor=#{executor}
  </select>

  <resultMap id="BugAccumulativeTrendMap" type="com.jmr.projectcenter.domain.dto.task.BugAccumulativeTrend">
    <result column="new_bug" jdbcType="INTEGER" property="newBug" />
    <result column="fixed_bug" jdbcType="INTEGER" property="fixedBug" />
  </resultMap>

  <select id="getNewBugNum" resultType="java.lang.Integer">
    select
       count(*)
    from task
    where project_id = #{projectId}
    <if test="sprintId!=null">
      and sprint = #{sprintId}
    </if>
      and type = 2
      and Date(create_time) &lt;= #{relativeTime}
  </select>

  <select id="getFixedBugNum" resultType="java.lang.Integer">
    select
       count(if(stage = '已解决' || stage = '已拒绝' || stage = '关闭', true, null))
    from task
    where project_id = #{projectId}
    <if test="sprintId!=null">
      and sprint = #{sprintId}
    </if>
      and type = 2
      and Date(finish_time) between #{startTime} and #{relativeTime}
  </select>
</mapper>